* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.267);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

header img {
    width: 30px;
}

header h1 {
    font-size: 40px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    margin: 40px auto;
    justify-content: space-between;
}

form input {
    font-size: 15px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #5d85f1;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}